*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center; 
  padding: 10px 50px; /* Ajusta el espaciado */
  background-color: #f2f2f2; 
  width: 100%;
}

/* Estilo para el logo SHIGIRICATEVA */
.navbar-logo {
  font-size: 24px;
  color:#fd7e14; 
  font-weight: bold;
}

/* Men칰 de navegaci칩n */
.nav-menu {
  display: flex; /* Alinea los elementos horizontalmente */
  justify-content: center;
  align-items: center;
  top: 0;
  list-style:none;
  margin-left: auto;
}

.nav-item {
  margin-right: 20px; /* Espaciado entre los 칤tems */
}

.nav-link {
  text-decoration: none;
  color:rgba(0, 0, 0, .55); 
  font-size: 20px;
  font-weight: 600;
}

.nav-link:hover {
  color:#4f4c4c; /* Cambia de color al pasar el mouse */
}

/* Carrito de compras */
.navbar-cart-container {
  display: flex;
  align-items: center;
}

.navbar-cart {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.navbar-cart img {
  margin-right: 5px; /* Espaciado entre la imagen y el texto */
}

.navbar-cart small {
  font-size: 14px;
}

.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.img-fit {
  max-height: 100%;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor:pointer;

}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.welcome-message {
  color:#0087F7(218, 214, 214, 0.65);
  font-size: 15px;  
  margin-left: 0px;  
  text-align:center;  
  margin-top: 20px;
  margin-right: 20px;
  margin: 0 auto;
}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  padding: 15px 15px;
  height: 60px;
}

.container-2 p a{
  color: rgb(255, 186, 122);
  text-decoration: none;
}

.container-2 a:hover {
  text-decoration: underline;
}

.thumbnail {
  cursor: pointer;
  width: 200px !important; 
  height: 150px !important; 
  object-fit: cover; /* Ajusta para que la imagen no se deforme */
  width: 180px; 
  height: 180px;
  object-fit: cover; /* Asegura que las im치genes no se deformen */
  margin: 0 10px; /* Espaciado entre las im치genes */
  border-radius: 8px; 
  border: 2px solid #fd7e14;
}

/* Ajustes pag */
.hero {
  padding: 20px 0;
}

.product-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover; 
}

.product-details {
  text-align: left;
}

.product-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.product-price {
  font-size: 36px;
  color: #000;
  font-weight: bold;
  margin-bottom: 20px;
}

.badge {
  background-color: #f5c518;
  color: #000;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 15px;
}

.product-description h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description p {
  color: #666;
  font-size: 16px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

/* Estilo del bot칩n "COMPRAR" */
.btn-warning {
  background-color:#fd7e14; 
    color: rgb(0, 0, 0); 
    text-decoration: none;
    border: none;
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 5px; 
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: inline-block; 
    cursor: pointer; 
    width: 100%; /*
    transition: background-color 0.3s ease; /* Animaci칩n para el hover pasar el mouse */
    margin-top: 50px;

}

.btn-warning:hover {
  background-color:#f0862f ;
}

.descripcion-producto {
    background-color: white;
    padding: 15px;
    border: 1px solid #f1ad85;
    border-radius: 5px;
    margin: 20px auto;
    width: 100%; 
}


#thumbnailsList {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 20px;
  margin-left: 30px; 
}

/* Alineacion de los detalles del producto */
.col-lg-5.mb-5 {
  position: absolute;
  right: 150px; 
  top: 10; 
  width: 30%; 
}

.item-title {
  font-size: 35px; 
  font-weight: bold; 
  color: #333333; 
  margin: 0;
  display: block; /* Hace que ocupe todo el ancho disponible */
  margin-top: 50px; /* Margen inferior para separar del precio */
  margin-bottom: 60px;
}

.item-price {
  font-size: 40px; 
  font-weight: bold; 
  color: #000000; 
  margin:0 ; 
  display: block; /* Hace que ocupe todo el ancho disponible */
  margin-top: 1px; /* Espacio por encima para separar del t칤tulo */
}

.item-brand {
  background-color: #FDE6A7; 
  color: #B26A00; 
  padding: 5px 10px; 
  border-radius: 10px; /* Bordes redondeados */
  font-weight: bold;
  font-size: 12px; 
  display: inline-block; 
  text-align: center; 
  margin-top: 1px; /* Espacio debajo para separar del t칤tulo */
}

/* tarjeta del producto */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.row.justify-content-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.prueba{
  margin-left: 100px;
}

/*Estilo de las estrellas*/
.container_comment {
  position: relative;
  width: 400px;
  background: lightblue;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container_comment .post {
  display: none;
}

.container_comment .text {
  font-size: 25px;
  color: #666;
  font-weight: 500;
}

.container_comment .edit {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}

.container_comment .star-widget input {
  display: none;
}

.star-widget label {
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: #fd4;
}

input:checked ~ label {
  color: #fd4;
}

input#rate-5:checked ~ label {
  color: #fd7;
  text-shadow: 0 0 20px #952;
}

#rate-1:checked ~ form header:before {
  content: "Lo odio 游";
}
#rate-2:checked ~ form header:before {
  content: "No me gusta 游뗷";
}
#rate-3:checked ~ form header:before {
  content: "Me gusta 游땏";
}
#rate-4:checked ~ form header:before {
  content: "Me encanta 游뱔";
}
#rate-5:checked ~ form header:before {
  content: "Lo amo 游땘";
}

.container form {
  display: none;
}

input:checked ~ form {
  display: block;
}

form header {
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}


form .textarea {
  height: 100px;
  width: 100%;
  overflow: hidden;
}

form .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}

form .btn {
  height: 45px;
  width: 100%;
  margin: 15px 0;
}

form .btn button {
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

form .btn button:hover {
  background: #1b1b1b;

}
.related-products {
  display: flex;               
  flex-wrap:nowrap;            
  gap: 15px;                   
  justify-content: flex-start; 
}
.card {
  flex: 0 0 auto;
  width: 200px;                
  border: 1px solid #fd7e14;      
  border-radius: 10px;         
  overflow: hidden;            
  background-color: #fff;      
  text-align: center;          
  transition: transform 0.3s ease;  
  margin: 10px;
}
.card:hover {
  transform: translateY(-3px);  /* Mueve la tarjeta hacia arriba ligeramente al pasar el mouse */
}
.small-image {
  width: 100%;                 /* La imagen ocupa todo el ancho de la tarjeta */
  height: 150px;               /* Alto fijo para las im치genes */
  object-fit: cover;           /* Ajusta la imagen sin distorsionarla */
  border-bottom: 1px solid #ccc;  /* L칤nea divisoria entre la imagen y el contenido */
}
.card-title {
  font-size: 1.1em;
  margin: 10px 0;
  font-weight: bold;
}