
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

h1, h2 {
  color: #272727;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.card-body .text-center {
  text-align: center;
}

.card-body .btn {
  margin-top: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  margin-left: 20px;
  font-size: 2rem;
}

.cart-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}


nav.navbar {
  background-color: #ffffff; 
}

nav a {
  text-decoration: none;
}

.navbar-nav .nav-link {
  color: #333333; 
}

.navbar-nav .nav-link:hover {
  color: rgb(238, 137, 35); 
}

.site-header {
  background-color: #333333; 
  color: #f4f1f1
  padding: 1rem 0; 
}

.site-header a {
  color: #f4f1f1 
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.site-header a:hover {
  color: rgb(238, 137, 35); 
}

/* Jumbotron */
.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #fbb253;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

/* Footer */
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #333333 !important; 
  color: #f4f1f1 !important; 
}

footer p {
  margin-bottom: .25rem;
  color: #f4f1f1 !important; 
}

footer a {
  color: #f4f1f1 !important; 
  text-decoration: none; 
}

footer a:hover {
  color: rgb(238, 137, 35) !important; 
  text-decoration: none; 
}

/* Dropzone */
.dropzone {
  border: 2px dashed #fbb253;
  border-radius: 5px;
  background: white;
}

/* Images */
.img-fit {
  max-height: 100%;
}

.product-item {
  text-align: center;
  overflow: hidden;
}

.product-image {
  width: 400px;
  height: auto;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px ridge rgb(235, 110, 38);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

.product-image:hover {
  transform: scale(1.1);
}

.volver-arriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(238, 137, 35); 
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.volver-arriba:hover {
  background-color: #fbb253; 
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.footer-left {
  margin: 0; 
}

.float-right {
  float: right; 
}

.mb-0 {
  margin-bottom: 0; 
}
