.jumbotron,
.card-body,
.container,
main,
body {
  margin-bottom: 40px; /* Espacio entre el contenido y el footer */
}

/* Light Mode */
body.bg-light {
  background-color: #f8f9fa !important;
  color: #343a40 !important;
}

.navbar.bg-light,
.footer.bg-light {
  background-color: #f1f1f1 !important;
  color: #343a40 !important;
}

.card.bg-light {
  background-color: #fff !important;
  color: #343a40 !important;
}

/* Dark Mode */
body.bg-dark {
  background-color: #343a40 !important;
  color: #f8f9fa !important;
}

.navbar.bg-dark,
.footer.bg-dark {
  background-color: #1f1f21 !important;
  color: #f8f9fa !important;
}

.card.bg-dark {
  background-color: #444 !important;
  color: #f8f9fa !important;
}

/* Estilo del botón */
button {
  border: 1px solid orange;
  background-color: rgb(255, 186, 122); 
  padding: 8px 15px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5%;
  margin-bottom: 10px;
}

button:hover {
  background: orange;
}

form input, textarea, select {
  margin-bottom: 18px;
}

.form-control {
  border: 1px solid orange;
}

.form-control::placeholder {
  color: rgba(0, 0, 0, 0.945) !important;
}

/*Comienzo del navbar*/
.navbar {
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center; 
  padding: 10px 50px; /* Ajusta el espaciado */
  background-color: #f1f1f1; 
  width: 100%;
  border-bottom: 1px solid orange;
}

/* Estilo para el logo SHIGERICATEVA */
.navbar-light .navbar-brand {
  font-weight: bold;
  color: rgb(255, 186, 122);
  font-size: 28px;
  text-decoration: none;
}

.navbar-light .navbar-brand:hover {
  color: orange;
}

/* Menú de navegación */
.nav-menu {
  display: flex; /* Alinea los elementos horizontalmente */
  justify-content: center;
  align-items: center;
  list-style:none;
  margin-left: auto;
  height: 20px;
}

.nav-item {
  margin-top: 10px;
}

.nav-link {
  text-decoration: none;
  color:rgba(0, 0, 0, .55); 
  font-size: 20px;
  font-weight: 600;
}

.nav-link:hover {
  color: orange;
}

/*Menu desplegable*/
.dropdown-menu {
  max-width: 200px;
  left: auto; /* Para permitir que el menú se ajuste a la pantalla */
  right: 0; /* Para anclar el menú al lado derecho */
}

.dropdown-toggle::after {
  display: none; /* Oculta la flecha */
}

.dropdown-item:hover {
  background-color: orange;
}
/*Fin del navbar*/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Estilos de la jumbotron */
.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/bannerWeb.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}


@media (min-width: 768px) and (max-width: 1279px) {
  .jumbotron {
    min-height: 30vh;
    padding: 2em 1em;
    background-size: contain;
    background-position: center center;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .jumbotron {
    min-height: 20vh;
    padding: 1em 0.5em;
    background-position: 91% center;
    background-size: cover;
  }
}


.jumbotron p:last-child {
  margin-bottom: 0;
}


.jumbotron-heading {
  font-weight: 300;
}


.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}


.jumbotron .lead {
  font-size: 38px;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  padding: 15px 15px;
  height: 60px;
  border-top: 1px solid orange;
}

.container-2 p a {
  color: rgb(255, 186, 122);
  text-decoration: none;
}

.container-2 a:hover {
  text-decoration: underline;
}

/* Tarjetas */
.checked {
  color: orange;
}

.welcome-message {
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;  
  margin-left: 0px;  
  text-align:center;  
  margin-top: 20px;
  margin-right: 20px;
  margin: 0 auto;
}

.cursor-active {
  cursor: pointer;
}

/* Estilo para las tarjetas en Products.HTML */
#containerDiv .card {
  border: 2px solid orange;
}

#containerDiv .card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave al hacer hover */
  transform: scale(1.02); /* Efecto de agrandamiento */
}

h1#productTitle {
  font-weight: bold !important;
  font-size: 30px;
  color: rgb(255, 186, 122);                  
  -webkit-text-stroke: 1px rgb(15, 10, 0);  /* Borde alrededor del texto */
}

/* Botón de "Aplicar Filtros" */
.text-primary {
  text-decoration: none;
}
#applyFilter {
  background-color: rgb(255, 186, 122);
  color: rgba(0, 0, 0, 0.945);
  border: 1px solid orange;
}

#applyFilter:hover {
  background-color: orange;
}

/* Spinner */
#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.navbar-light .nav-link {
  color: rgba(0, 0, 0, .55);
}

.navbar-light .nav-link:hover {
  color: orange;
}

/* estilo de los enlaces en modo oscuro */
body.bg-dark .navbar-light .nav-link {
  color: rgba(255, 255, 255, .75); /* color blanco para los enlaces en modo oscuro */
}

body.bg-dark .navbar-light .nav-link:hover {
  color: orange; /* mantener el hover en color naranja */
}

/* corregir color de nombre de usuario en modo oscuro */
body.bg-dark .welcome-message {
  color: rgba(255, 255, 255, 0.85); /*color del nombre de usuario a blanco */
}

/* corregir el color de los íconos en el dropdown del navbar */
body.bg-dark .dropdown-item {
  color: rgba(255, 255, 255, 0.75);
}

body.bg-dark .dropdown-item:hover {
  background-color: orange; /* mantener el hover  naranja */
  color: white; /* cambia el color del texto a blanco cuando se pasa el mouse */
}
body.bg-dark .dropdown-menu {
  background-color: #333; /* fondo oscuro */
  color: rgba(255, 255, 255, 0.85); 
  border: 1px solid rgba(255, 255, 255, 0.15); /* borde para modo oscuro */
}

/* hover en los ítems del dropdown */
body.bg-dark .dropdown-item {
  color: rgba(255, 255, 255, 0.85);
}

body.bg-dark .dropdown-item:hover {
  background-color: orange; /* fondo naranja cuando se pasa el mouse */
  color: #ffffff; 
}
body.bg-dark .dropdown-item img {
  filter: brightness(0) invert(1);
}
.text-black {
  color: black !important;
}

/* mantener el fondo de las tarjetas en blanco en modo oscuro */
.card.bg-light-mode {
  background-color: white !important;
  color: black !important;
}

/* mantener los botones en modo claro */
.btn-outline-secondary.text-black {
  border-color: black;
  color: black;
}